<a href="https://colab.research.google.com/github/Qurat-tul-Ain/basic_python_practice/blob/main/practice_Assisgnment_1_basic_python_conecpts_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# # Basic Python Data Types

*   Text type -> str
*   Numeric type -> int, float, complex
*   Sequence Type -> list , tuple, range
*   Mapping Type -> Dict
*   Boolean Type -> bool (ture, false)
*   None type -> None type

# Practice of Data Types

In [ ]:
a = "hello world" # string
b = 12  # int
c = 12.5 # float
d = 1j # complex
e = True # bool
f = None # NoneType

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

In [ ]:
# did not define its perticular datatype

x = 9  # x is type if int converting in str
x = "chocolates"
print(x)

In [ ]:
# data update

name = "str"
name = "Ahmed"
print(name)

Ahmed

In [ ]:
name = "Ahmed"
age = 23
weight = 45.5
# print(name)
# print(age)
# print(weight)

#--------------------------------------------
#print(name+age+weight) # line TypeError: can only concatenate str (not "int") to str
#---------------------------------------------------
print(name,age,weight)
print(type(name))
print(type(age))
print(type(weight))

Ahmed 23 45.5
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# concatinating
name = "Ahmed"
age = "23"
weight = "45.5"
print(name+age+weight)

Ahmed2345.5

In [ ]:
dict = {"name":"Ahmed","age":23,"weight":45.5}
print(dict)
print(type(dict))
print(dict["name"])
print(dict["age"])
print(dict["weight"])

{'name': 'Ahmed', 'age': 23, 'weight': 45.5}
<class 'dict'>
Ahmed
23
45.5

In [ ]:
list = ["Ahmed",23,45.5]
print(list)
list = ["Ahmed",23,45.5,True] #update
print(list)

tuple =("Ahmed",23,45.5) #cannot change its value
print(tuple)

['Ahmed', 23, 45.5]
['Ahmed', 23, 45.5, True]
('Ahmed', 23, 45.5)

In [ ]:
dict = {"name":"Ahmed","age":23,"weight":45.5}
print(dict)
print(type(dict))
print(dict["name"])
print(dict["age"])
print(dict["weight"])

{'name': 'Ahmed', 'age': 23, 'weight': 45.5}
<class 'dict'>
Ahmed
23
45.5

In [ ]:
for i in range(1,10): #indentation block
  print(i)

if 10 > 5 :
  print("10 is greater than 5")

1
2
3
4
5
6
7
8
9
10 is greater than 5

In [ ]:
# typecatsing.
# Method to declare a veriable in any particular type.

x = int(10)
y = str('10')
z = float(10)

print(x)
print(y)
print(z)

10
10
10.0

In [ ]:
x = 5
y = "Ahmed"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# Multiword Variable

In [ ]:
#camel case

myFavColor = "blue"
print(myFavColor)

#Pascal case

MyFavColor = "Pink"
print(MyFavColor)

#snake case

my_fav_color = "Black"
print(my_fav_color)

blue
Pink
Black

# Values and Variable
Assigning many values to multiple variable


*   Assigning many values to multiple variables.
*   Assigning one value to multiple variables.

In [ ]:
a,b,c = "red","blue","yellow"
print(a,b,c)

x,y,z = 'I','Love','Pakistan'
print(x,y,z)

e,f,g = 10,20,30
print(e,f,g)

red blue yellow
I Love Pakistan
10 20 30

In [ ]:
#one value to multiple value

a = b = c = "red"
print(a,b,c)

x = y = z = 10
print(x,y,z)

c= d= e = "PYTHON"
print(c,d,e)

red red red
10 10 10
PYTHON PYTHON PYTHON

#collection unpack
*  if you have collection of values(i.e. list or tuple), python allows to extract values into variables.
*   Different print to command makes different output,see the examples.

In [ ]:
fruits = ["apple","watermelon","blueberry"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
watermelon
blueberry

In [ ]:
# different output

x ='Python'
y = 'is'
z = 'favorite language'

print(x+y+z)

print(x,y,z)

Pythonisfavorite language
Python is favorite language

# print () function
* print function allows you to add the same type of input.   
* it shows error when we try to add or substract different data type.

In [ ]:
a = 5
b = 7
print(a+b)

d ='Pakistan'
e = 1947
# print(d + e) #TypeError: can only concatenate str (not "int") to str
print (d ,e)

12
Pakistan 1947